<%- include('partials/head.ejs') %>

  
  
      <% for(var i=0; i < postsList.length; i++) { %>
        <div class="content">
       <h1><%= postsList[i].heading %></h1>
       <h2>By <%= postsList[i].author %>, Posted <%= postsList[i].createdAt %></h2>
       <h2><%= postsList[i].content %></h2>

        </div>
    
  <% } %>
   

</div>

<%- include('partials/foot.ejs') %>
